@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 354 80% 96%;
    --foreground: 351 40% 33%;
    --card: 0 0% 100%;
    --card-foreground: 351 40% 33%;
    --popover: 0 0% 100%;
    --popover-foreground: 351 40% 33%;
    --primary: 354 49% 32%;
    --primary-foreground: 356 43% 94%;
    --secondary: 356 43% 94%;
    --secondary-foreground: 354 49% 32%;
    --muted: 356 43% 94%;
    --muted-foreground: 352 29% 51%;
    --accent: 356 41% 84%;
    --accent-foreground: 354 49% 32%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 356 41% 84%;
    --input: 356 41% 84%;
    --ring: 354 49% 32%;

    --sidebar-background: 351 40% 33%;
    --sidebar-foreground: 356 43% 94%;
    --sidebar-accent: 354 49% 32%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 353 39% 36%;
    --sidebar-ring: 351 30% 66%;
  }
 
  .dark {
    --background: 351 20% 18%;
    --foreground: 356 43% 94%;
    --card: 351 20% 22%;
    --card-foreground: 356 43% 94%;
    --popover: 351 20% 18%;
    --popover-foreground: 356 43% 94%;
    --primary: 351 30% 66%;
    --primary-foreground: 354 49% 22%;
    --secondary: 352 29% 41%;
    --secondary-foreground: 356 43% 94%;
    --muted: 352 29% 41%;
    --muted-foreground: 356 23% 77%;
    --accent: 352 29% 41%;
    --accent-foreground: 356 43% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 352 29% 41%;
    --input: 352 29% 41%;
    --ring: 351 30% 66%;
    
    --sidebar-background: 351 40% 33%;
    --sidebar-foreground: 356 43% 94%;
    --sidebar-accent: 354 49% 32%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 353 39% 36%;
    --sidebar-ring: 351 30% 66%;
  }

  /* NProgress styles */
  #nprogress {
    pointer-events: none;
  }
  #nprogress .bar {
    background: hsl(var(--primary));
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
